<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup Page</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body style="background-color: #fed4b1;" class="body-main">

    <div class="header">
        <div class="tan-line">
            <strong>
                {%if username == "None"%}
                    <a class="login" href="/login">Login</a>
                    <a class="signup" href="/signup">Sign Up</a>
                {%elif signed_in == True%}
                    <a class="fortune" href="/coffee-fortune">Fortune</a>
                    <a class="reviews" href="/my-reviews">Reviews</a>
                    <a class="account" href="/account">{{username}}</a>
                {%else%}
                    <a class="login" href="/login">Login</a>
                    <a class="signup" href="/signup">Sign Up</a>
                {% endif %}
            </strong>
        </div>
        <h1 class="start-box">The Coffee Project</h1>
        <div class="white-line"></div>
        <a class="login" href="/login"></a>
    </div>

    <div class="top-page">
        <div class="collage-area">
            <div class="collage">
                <img src="{{ url_for('static', filename='images/Misk2.jpg') }}">
                <img src="{{ url_for('static', filename='images/CoffeeBags2.jpg') }}">
                <img src="{{ url_for('static', filename='images/RoastedBeans.jpg') }}">
                <img src="{{ url_for('static', filename='images/Starbucks.jpg') }}">
                <img src="{{ url_for('static', filename='images/CoffeeInside.jpg') }}">
                <img src="{{ url_for('static', filename='images/CoffeeAi.jpg') }}">
                <img src="{{ url_for('static', filename='images/MiskCoffee2.jpg') }}">
                <img src="{{ url_for('static', filename='images/Coffee.jpg') }}">
                <img src="{{ url_for('static', filename='images/CoffeeBags.jpg') }}">
            </div>
            <div class="collage2">
                <img src="{{ url_for('static', filename='images/MiskCoffee1.jpg') }}">
                <img src="{{ url_for('static', filename='images/Misk1.jpg') }}">
                <img src="{{ url_for('static', filename='images/MiskCoffee3.jpg') }}">
                <img src="{{ url_for('static', filename='images/Roastery.jpg') }}">
            </div>
        </div>
        

        {% if signup_success %}
        <div class="signup-line">
            Account created successfully! Login to access your account.
        </div>
        {% endif %}
        <div class="content">
            <div class="info-box">
                <strong>
                    Welcome to The Coffee Project!
                </strong>
                <hr>
                <div>
                    This is a website for the Edmonton area where you can:
                    <br>
                    -> Get your coffee fortune
                    <br>
                    -> See reviews for coffee shops
                    <br>
                    -> Create your own coffee reviews
                </div>
                <br>
                <div>
                No account? 
                <br>
                <a href="/signup">
                    Sign up!
                </a>
                </div>
                <br>
                Already have created an account?
                <br>
                <a href="/login">
                    Login!
                </a>
            </div>
       </div>
    </div>

    <div class="signature">
        Created by: Ryland Fraser - 2026
        <br>
        Macewan University
    </div>

</body>
</html>